$primaryColor: #73fdbd;
$secondaryColor: #f5aeae;
$accent: #65bee7;
$fontColor: #001c3b;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'Raleway', sans-serif;
$normalWeight:400;
$boldWeight:700;