$primaryColor: #3642D8;
$secondaryColor: #E3E1DE;
$accent: #FFC900;
$fontColor: #00007F;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;